body {
  background-image: linear-gradient(to bottom right, #131313, #242424, #282828);
}

h1 {
  color: #fff;
  text-align: center;
  font-size: xx-large;
}
h3 {
  color: #fff;
  text-align: left;
  font-size: x-large;
}
li {
  text-align: left;
  font-size: large;
}
.notes {
  color: rgb(189, 197, 198);
  margin-left: 3px;
}
